.s-hero {
    padding-top: 7.1rem;
    background-image: linear-gradient( 180deg, rgba(242, 40, 36, 1) 36%, rgba(107, 46, 103, 1) 150% );
    height: 54.7rem;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        position: absolute;
        width: 33.5rem;
        height: 15.6rem;
        border-radius: 1.4rem;
        background-color: #97233A;
        opacity: 0.3;
        bottom: 0;
        right: 15rem;
        pointer-events: none;
        z-index: 1;
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left-area {
            display: flex;
            width: 100%;
            max-width: 58rem;
            flex-direction: column;
            position: relative;
            .price {
                display: flex;
                flex-direction: column;
                h1 {
                    color: var(--white);  
                    margin-bottom: 2.5rem; 
                    letter-spacing: -0.144rem;
                }
                span {
                    color: var(--white);
                    font-size: 1.6rem;
                    text-decoration: line-through;
                    text-decoration-color: var(--secondary);
                    font-weight: 600;
                }
                h2 {
                    font-size: 5.6rem;
                    color: var(--secondary);
                }
                p {
                    color: var(--white);
                    margin-bottom: 1.8rem;
                }
                img {
                    max-width: 1.9rem;
                    margin-bottom: 3.6rem;
                }
            }
            .cta {
                @include flex(row, center, flex-start);
                margin-bottom: 1.3rem;
                button {
                    margin-right: 6.9rem;
                }
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        .s-get {
                            @include flexCenter;
                            width: 4.8rem;
                            height: 4.8rem;
                            padding: 1.5rem 1rem 1.4rem 1.6rem;
                            border-radius: 1.2rem;
                            background: linear-gradient(312deg, #662C62 -6.53%, #E82829 135.37%);
                            box-shadow: 0.5rem 0.6rem 0.9rem 0rem rgba(99, 22, 35, 0.25);
                            position: relative;
                            &:before {
                                content: "";
                                width: 0.576rem;
                                height: 0.864rem;
                                position: absolute;
                                background: url(../images/bagde-s.svg);
                                top: 0;
                                left: 1.152rem;
                            }
                        }
                        span {
                            font-size: 1.6rem;
                            color: var(--white);
                            font-weight: 400;
                            margin-left: 2.1rem;
                            letter-spacing: -0.032rem;
                        }
                    }
                }
            }
            p {
                font-size: 1.3rem;
                color: var(--white);
                letter-spacing: -0.013rem;
            }
        }
        .right-area {
            display: flex;
            align-items: flex-start;
            .image {
                position: relative;
                z-index: 2;
                margin-right: 6.8rem;
                width: 100%;
                max-width: 28.4rem;
                height: 51.4rem;
                z-index: 20;
                &::after {
                    content: "";
                    position: absolute;
                    top: -1.6rem;
                    right: -2.9rem;
                    width: 6.2rem;
                    height: 8.3rem;
                    background: url("../images/img-detalhe-maquina.svg") no-repeat center center;
                    z-index: -1;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 7.42rem;
                    right: -1.42rem;
                    width: 26.6119rem;
                    height: 45.8607rem;
                    background: url("../images/shadow-machine.png") no-repeat center center;
                    z-index: -1;
                    border-radius: 3.6rem;
                    filter: blur(25px);
                }
                img {
                    object-fit: cover;
                }
                .badge {
                    position: absolute;
                    left: -4.8rem;
                    top: -1.1rem;
                    width: 10.4rem;
                    height: 10.4rem;
                    @include flexCenter;
                    background-color: var(--secondary);
                    border-radius: 50%;
                    span {
                        position: relative;
                        letter-spacing: -0.032rem;
                        font-size: 1.6rem;
                        text-align: center;
                        color: var(--neutral-100);
                        text-transform: uppercase;
                        strong {
                            font-weight: 800;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: -1rem;
                            left: 1rem;
                            width: 4.5rem;
                            height: 5.7rem;
                            background: url("../images/icon-seta-baixo.svg") no-repeat center center;
                            background-size: cover;
                            z-index: 0;
                            pointer-events: none;
                        }
                    }
                }
            }
            .infos {
                display: flex;
                flex-direction: column;
                h3 {
                    color: var(--white);
                    letter-spacing: -0.096rem;
                }
                p {
                    font-weight: 600;
                    color: var(--white);
                    letter-spacing: -0.032rem;
                    width: 12.8rem;
                    margin-bottom: 3.4rem;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 18.2rem;
                    li {
                        display: flex;
                        align-items: baseline;
                        &:not(:last-child) {
                            margin-bottom: 1.4rem;
                        }
                        img {
                            max-width: 0.5rem;
                            margin-right: 1.9rem;
                            position: relative;
                            top: -0.4rem;
                        }
                        span {
                            font-size: 1.6rem;
                            color: var(--white);
                            letter-spacing: -0.032rem;
                        }
                    }
                }
                & > div {
                    position: relative;
                    z-index: 20;
                    margin-top: 8.1rem;
                    ul {
                        li {
                            img {
                                max-width: 1.26rem;
                                margin-top: 0.5rem;
                            }
                            p {
                                color: var(--white);
                                font-weight: 400;
                                letter-spacing: -0.032rem;
                                max-width: 11.6rem;
                                strong {
                                    font-weight: 800;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}